html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.circle {
  border-radius: 50%;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: $divider-color;
}
textarea,
table,
td,
th,
pre,
samp,
div,
p,
ul {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
article p {
  text-align: justify;
}
p {
  margin: 1rem 0;
  font-size: 1.05em;
  line-height: 1.6;
}
p:first-child {
  margin-top: 0;
}
a {
  color: #20718d;
  text-decoration: underline;
  word-wrap: normal;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}
a[onclick] {
  cursor: pointer;
}
a:hover,
a.current {
  color: #e65730;
}
[contenteditable]:hover {
  outline: 1px dotted #e65730;
}
[contenteditable]:focus {
  outline: 1px solid #e65730;
}
.selectable > * {
  border-left: 3px solid rgba(32,113,141,0.7);
  cursor: pointer;
}
.selectable > * > a {
  color: inherit;
  text-decoration: none;
}
.selectable > :hover {
  background: rgba(221,221,221,0.3);
  border-left-color: #20718d;
}
.selectable > .current {
  border-left-color: #8d203a;
  background: rgba(221,221,221,0.1);
}
.selectable > .current:hover {
  background: rgba(221,221,221,0.3);
}
@media only screen and (max-width: 599px) {
  .hide-on-extra-small-only {
    display: none !important;
  }
  .show-on-extra-small-only {
    display: initial !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 991px) {
  .hide-on-small-only {
    display: none !important;
  }
  .show-on-small-only {
    display: initial !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hide-on-medium-only {
    display: none !important;
  }
  .show-on-medium-only {
    display: initial !important;
  }
}
@media $large-and-up {
  .hide-on-large-only {
    display: none !important;
  }
  .show-on-large-only {
    display: initial !important;
  }
}
@media $large-and-up {
  .hide-on-small-and-down {
    display: none !important;
  }
  .show-on-small-and-down {
    display: initial !important;
  }
}
@media only screen and (max-width: 1199px) {
  .hide-on-medium-and-down {
    display: none !important;
  }
  .show-on-medium-and-down {
    display: initial !important;
  }
}
@media only screen and (min-width: 600px) {
  .hide-on-small-and-up {
    display: none !important;
  }
  .show-on-small-and-up {
    display: initial !important;
  }
}
@media only screen and (min-width: 992px) {
  .hide-on-medium-and-up {
    display: none !important;
  }
  .show-on-medium-and-up {
    display: initial !important;
  }
}
@media only screen and (max-width: 991px) {
  .center-on-extra-small-only {
    text-align: center;
  }
}
html {
/* Prevents iOS text size adjust after orientation change, without disabling user zoom. */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
body {
  font: normal 100% Roboto, Ubuntu, 'Droid Sans', 'Segoe UI', Corbel, 'Gill Sans', 'DejaVu Sans', 'Bitstream Vera Sans', Helvetica, Verdana, sans-serif;
  font-display: block;
  line-height: 1.5;
  -webkit-backface-visibility: hidden;
  color: #333;
  background: #fff;
}
@media only screen and (min-width: 600px) {
  body {
    font-size: 85%;
  }
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 95%;
  }
}
.page-title,
.text-headline,
.text-title,
.text-subhead {
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 0 1rem;
}
.page-title:first-child,
.text-title:first-child {
  margin-top: 0;
}
.page-title {
  font-weight: 400;
  font-size: 1.8em;
}
.text-headline {
  font-weight: 400;
  font-size: 1.5em;
}
.text-title {
  font-weight: 500;
  font-size: 1.4em;
}
.text-subhead {
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 1rem;
}
.text-title + .text-subhead {
  margin-top: -0.5rem;
}
.text-paragraph-title {
  font-weight: 500;
  font-size: 1.1em;
}
.text-button {
  font-weight: 500;
  text-transform: uppercase;
}
.text-caption {
  font-weight: 400;
  font-size: 0.8em;
}
.page-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255,255,255,0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(51,51,51,0.08);
  font-weight: 300;
}
.container-fluid,
.container-fixed {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media only screen and (min-width: 600px) {
  .container-fixed {
    width: 600px;
  }
}
@media only screen and (min-width: 992px) {
  .container-fixed {
    width: 992px;
  }
}
@media $large-and-up {
  .container-fixed {
    width: 1200px;
  }
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
}
.row > * {
  display: table-cell;
  vertical-align: top /* Opera */;
}
@supports (display: flex) {
  .row {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -o-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  .row > * {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: block;
  }
  .row > *[class*=' wp-'],
  .row > *[class*=' w-'] {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -o-box-flex: 0;
    -ms-box-flex: 0;
    box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
  }
  .row > *.start {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -ms-flex-item-align: start;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -o-box-flex: 0;
    -ms-box-flex: 0;
    box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
  }
  .row > *.end {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -ms-flex-item-align: end;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -o-box-flex: 0;
    -ms-box-flex: 0;
    box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
  }
  .row > *.center {
    -webkit-align-self: center;
    align-self: center;
    -ms-flex-item-align: center;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -o-box-flex: 0;
    -ms-box-flex: 0;
    box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
  }
  .row > *.stretch {
    -webkit-align-self: stretch;
    align-self: stretch;
    -ms-flex-item-align: stretch;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -o-box-flex: 0;
    -ms-box-flex: 0;
    box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
  }
  .row.start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -o-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .row.center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .row.end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .row.space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .row.space-around {
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  .row.items-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .row.items-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -o-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
  .row.items-center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .row.items-stretch {
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -o-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
}
.row.spaced > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.row.spaced > *:first-child {
  padding-left: 0;
}
.row.spaced > *:last-child {
  padding-right: 0;
}
.w-100 {
  width: 100px;
}
.w-150 {
  width: 150px;
}
.w-200 {
  width: 200px;
}
.w-250 {
  width: 250px;
}
.w-300 {
  width: 300px;
}
.wp-5 {
  width: 5%;
}
.wp-10 {
  width: 10%;
}
.wp-15 {
  width: 15%;
}
.wp-20 {
  width: 20%;
}
.wp-25 {
  width: 25%;
}
.wp-30 {
  width: 30%;
}
.wp-35 {
  width: 35%;
}
.wp-40 {
  width: 40%;
}
.wp-45 {
  width: 45%;
}
.wp-50 {
  width: 50%;
}
.wp-55 {
  width: 55%;
}
.wp-60 {
  width: 60%;
}
.wp-65 {
  width: 65%;
}
.wp-70 {
  width: 70%;
}
.wp-75 {
  width: 75%;
}
.wp-80 {
  width: 80%;
}
.wp-85 {
  width: 85%;
}
.wp-90 {
  width: 90%;
}
.wp-95 {
  width: 95%;
}
.wp-100 {
  width: 100%;
}
.wp-33 {
  width: 33.33%;
}
.wp-66 {
  width: 66.66%;
}
@media only screen and (max-width: 991px) {
  .row-responsive,
  .responsive {
    display: block;
  }
  .row-responsive > *,
  .responsive > * {
    display: block;
    width: 100%;
  }
  .row-responsive.spaced > *,
  .responsive.spaced > * {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .row-responsive.spaced > *:first-child,
  .responsive.spaced > *:first-child {
    padding-top: 0;
  }
  .row-responsive.spaced > *:last-child,
  .responsive.spaced > *:last-child {
    padding-bottom: 0;
  }
}
blockquote {
  position: relative;
  margin: 1rem 0;
  margin-right: 1rem;
  padding: 0.2rem 1rem;
  border-left: 5px solid #2580a2;
  background: #f3fafc;
}
blockquote::before,
blockquote::after {
  color: #2580a2;
  font-size: 40px;
}
blockquote::before {
  position: absolute;
  top: 0;
  left: 1px;
  content: "“";
}
blockquote::after {
  position: absolute;
  top: 0;
  right: 1px;
  content: "”";
}
blockquote footer:before {
  content: "- ";
}
q::before,
q::after {
  color: #2580a2;
  font-size: 1.2em;
}
q::before {
  content: "“";
}
q::after {
  content: "”";
}
code,
kbd,
pre,
samp {
  font-family: 95% Menlo, Monaco, Consolas, monospace;
}
code {
  white-space: nowrap;
  padding: 1px 0.4rem;
  color: #000;
  background: #eee;
  border-radius: 2px;
}
kbd {
  white-space: nowrap;
  padding: 1px 0.4rem;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25);
}
pre {
  margin: 1rem 0;
  padding: 6px 10px;
  color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1b2426;
  border-left: 6px solid #2580a2;
  word-break: break-all;
  word-wrap: break-word;
  overflow: auto;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
pre:first-child {
  margin-top: 0;
}
pre code {
  padding: 0;
  white-space: pre-wrap;
  border-radius: 0;
  background: inherit;
  color: inherit;
}
mark {
  background: #ff0;
  padding: 0.1rem 0.3rem;
}
.spelling-error {
  text-decoration: underline /* for backwards compatibility */;
  text-decoration: underline wavy #f00;
}
.grammatical-error {
  text-decoration: underline /* for backwards compatibility */;
  text-decoration: underline wavy #008000;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
abbr[title],
dfn[title] {
  text-decoration: dotted underline;
  cursor: help;
}
time[title] {
  text-decoration: dotted underline;
}
.list {
  margin: 1rem 0;
  color: #333;
  background: #fff;
}
.list:first-child {
  margin-top: 0;
}
.list > * {
  margin: 0;
  padding-left: 1rem;
  line-height: 2rem;
}
.list.simple {
  border: none;
  border-radius: 0;
  list-style: disc;
  padding-left: 1rem;
}
.list.simple > * {
  padding: 0;
  border: none;
}
.list.simple.ordered {
  list-style: decimal;
}
.list.multiline > * {
  padding: 0.5rem 0;
  line-height: inherit;
}
.list.multiline > *:last-child {
  border-bottom: none;
}
.list.links > * > a {
  display: block;
  text-decoration: none;
}
.list .list {
  border-left: 1px solid #e0e0e0;
  border-right: none;
  margin: 0 0 0 5px;
}
.list.vertical {
  display: inline-block;
  margin-bottom: 1rem;
}
.list.vertical > * {
  display: inline-block;
  border-right: 1px solid #e0e0e0;
}
.list.vertical > *:last-child {
  border-right: none;
}
.list.block {
  padding: 0;
}
.list.block > * {
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #e0e0e0;
}
table.table {
  width: 100%;
}
table.table thead {
  border-bottom: 1px solid #d0d0d0;
}
table.table th {
  font-weight: 700;
  padding: 1px;
}
table.table.bordered tr {
  border-bottom: 1px solid #d0d0d0;
}
table.table.striped tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
table.table.centered thead tr th,
table.table.centered tbody tr td {
  text-align: center;
}
table.table .shrink {
  white-space: nowrap;
  width: 1px;
}
::-webkit-input-placeholder {
  color: #bdbdbd;
}
:-moz-placeholder {
  color: #bdbdbd;
}
::-moz-placeholder {
  color: #bdbdbd;
}
:-ms-input-placeholder {
  color: #bdbdbd;
}
.input {
  position: relative;
  margin: 1rem 0;
}
.input:first-child {
  margin-top: 0;
}
.input label {
  display: block;
  width: auto;
}
.input.text {
  position: relative;
}
.input label + input,
.input label + textarea,
.input label + select {
  background: #f00 !important;
  color: #f00;
}
.input.text input,
.input.text textarea,
.input select {
  margin-top: 1rem;
  width: 100%;
  height: 2rem;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  border-bottom: 1px solid #cfd0d1;
  background-color: inherit;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  border-radius: 0 /* google chrome select */;
/* label */
/* invalid */
}
.input.text input:focus,
.input.text textarea:focus,
.input select:focus,
.input.text input:focus:invalid:not(.has-value),
.input.text textarea:focus:invalid:not(.has-value),
.input select:focus:invalid:not(.has-value) {
  border-bottom-color: #2580a2;
  -webkit-box-shadow: 0 1px 0 0 #2580a2;
  box-shadow: 0 1px 0 0 #2580a2;
}
.input.text input + label,
.input.text textarea + label,
.input select + label {
  position: absolute;
  left: 0;
  color: #bdbdbd;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.input.text input:not(.has-value) + label,
.input.text textarea:not(.has-value) + label,
.input select:not(.has-value) + label,
.input.text input.has-empty-value + label,
.input.text textarea.has-empty-value + label,
.input select.has-empty-value + label {
  top: 1rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 100%;
  color: #bdbdbd;
  cursor: text;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.input.text input + label,
.input.text textarea + label,
.input select + label,
.input.text input:focus + label,
.input.text textarea:focus + label,
.input select:focus + label,
.input.text input[placeholder] + label,
.input.text textarea[placeholder] + label,
.input select[placeholder] + label {
  top: 0.2rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 80%;
  cursor: default;
}
.input.text input:focus + label,
.input.text textarea:focus + label,
.input select:focus + label {
  color: #2580a2;
  outline: none;
}
.input.text input:invalid,
.input.text textarea:invalid,
.input select:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input.text input.has-value:invalid,
.input.text textarea.has-value:invalid,
.input select.has-value:invalid {
  border-bottom: 1px solid #f00;
  -webkit-box-shadow: 0 1px 0 0 #f00;
  box-shadow: 0 1px 0 0 #f00;
}
.input.text input.has-value:focus:invalid + label,
.input.text textarea.has-value:focus:invalid + label,
.input select.has-value:focus:invalid + label {
  color: #f00;
}
.input.text.with-icon input {
  padding-left: 2rem;
}
.input.text.with-icon input + label,
.input.text.with-icon input:focus + label,
.input.text.with-icon input[placeholder] + label {
  padding-left: 2rem;
}
.input.text.with-icon .input-icon {
  position: absolute;
  left: 0;
  top: 1rem;
  height: 2rem;
  line-height: 2rem;
  width: 2rem;
  font-size: 2rem;
  color: #7d7d7d;
  text-align: center;
}
.input.text.with-icon input:focus ~ .input-icon {
  color: inherit;
}
.input.no-margin {
  margin: 0;
}
.input.no-margin input,
.input.no-margin select {
  margin-top: 0;
}
.input.no-margin .input-icon,
.input.no-margin.select:after {
  top: 0 !important;
}
.input select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding-right: 1.5rem;
}
.input select:focus {
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.input select:-moz-focusring {
/* to avoid the "outline" in firefox */
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #000;
}
.input.select:after {
  content: "▼";
  position: absolute;
  top: 1rem;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: 2rem;
  height: 2rem;
  padding-right: 0.5rem;
  pointer-events: none;
}
:root *> .input [type="radio"],
:root *> .input [type="checkbox"] {
  position: absolute;
  left: -99999px;
  visibility: hidden;
}
:root *> .input [type="radio"] + label,
:root *> .input [type="checkbox"] + label {
  padding-left: 1.5rem;
}
.input [type="radio"] + label,
.input [type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input [type="radio"] + label::before,
.input [type="checkbox"] + label::before,
.input [type="radio"] + label::after,
.input [type="checkbox"] + label::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.2rem;
  width: 0.6rem;
  height: 0.6rem;
  z-index: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
[type="checkbox"] .input + label::before,
[type="checkbox"] .input + label::after {
  -webkit-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  -moz-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  -o-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  -ms-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
}
.input [type="radio"]:not(:checked) + label::before {
  border-radius: 50%;
  border: 2px solid #5a5a5a;
}
.input [type="radio"]:not(:checked) + label::after {
  border-radius: 50%;
  border: 2px solid #5a5a5a;
  z-index: -1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.input [type="checkbox"]:not(:checked) + label::before {
  border: 2px solid #5a5a5a;
}
.input [type="radio"]:checked + label::before {
  border-radius: 50%;
  border: 2px solid transparent;
}
.input [type="radio"]:checked + label::after {
  border-radius: 50%;
  border: 2px solid #2580a2;
  background-color: #2580a2;
}
.input [type="checkbox"]:checked + label::before {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  -moz-transform: rotateZ(37deg);
  -o-transform: rotateZ(37deg);
  -ms-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  z-index: 1;
  top: 0;
  left: 1px;
  width: 0.2rem;
  height: 0.5rem;
}
.input [type="checkbox"]:checked + label::after {
  border: 2px solid #2580a2;
  background-color: #2580a2;
}
.input input:disabled,
.input textarea:disabled,
.input option:disabled,
.input optgroup:disabled,
.input select:disabled {
  background-color: rgba(111,111,111,0.1);
  color: #c7c7c7;
  border-bottom: 1px dotted #b9b8b9;
}
.input [type="radio"]:disabled + label,
.input [type="checkbox"]:disabled + label {
  color: #c7c7c7;
}
.input [type="radio"]:disabled:not(:checked) + label:before,
.input [type="checkbox"]:disabled:not(:checked) + label:before {
  border-color: #c7c7c7;
}
fieldset {
  border: 1px solid #cfd0d1;
  margin: 1rem 1rem;
  padding: 1rem;
}
legend {
  font-weight: 500;
  padding: 0 0.5rem;
}
.navbar {
  display: inline-block;
  vertical-align: top;
}
.navbar-item {
  display: inline-block;
  vertical-align: top;
}
.navbar-item .button {
  padding: 0.2rem 0.3rem;
}
.card {
  position: relative;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15), 0 2px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15), 0 2px 5px 0 rgba(0,0,0,0.2);
}
.card .card-title {
  margin-top: 0;
  font-weight: 300;
}
.card > .content {
  padding: 1rem;
}
.label,
.badge {
  font-weight: 700;
  display: inline-block;
  padding: 0.1em 0.4rem;
  font-size: 80%;
  font-size: 0.8em;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background: #2580a2;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.label.success,
.badge.success {
  background: #008000;
}
.label.error,
.badge.error {
  background: #f00;
}
.label.warning,
.badge.warning {
  background: #ff6347;
}
.badge {
  background: #777;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 1em;
  vertical-align: middle;
  margin-top: -2px;
}
.badge:empty {
  display: none;
}
.block {
  margin: 1rem 0;
  padding: 1rem;
  background: #fff;
  border: 1px solid #e0e0e0;
}
.block:first-child {
  margin-top: 0;
}
.block.primary {
  background: #2580a2;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
}
button,
input.submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input.submit,
button,
.button {
  display: inline-block;
  background: #2580a2;
  font: inherit;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15), 0 2px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15), 0 2px 5px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  border: none;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: $button-textShadow;
  padding: 0.6rem 1rem;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1.2;
}
input.submit.wp-100,
button.wp-100,
.button.wp-100 {
  width: 100%;
  text-align: center;
}
input.submit:hover,
button:hover,
.button:hover {
  background: #288aaf;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2), 0 3px 7px 0 rgba(0,0,0,0.25);
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2), 0 3px 7px 0 rgba(0,0,0,0.25);
}
input.submit:disabled,
button[disabled],
button.disabled,
.button.disabled {
  background: #dfdfdf;
  color: #555;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
}
input.submit:disabled:hover,
button[disabled]:hover,
button.disabled:hover,
.button.disabled:hover {
  background: #dfdfdf;
  color: #555;
}
button.flat,
.button.flat {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: #2580a2;
}
button.flat.disabled,
.button.flat.disabled {
  background-color: transparent;
  color: #c7c7c7;
}
.dropdown {
  position: relative;
  padding: 0 0.2rem;
  cursor: default;
}
.dropdown.button {
  padding: 0.6rem 1rem;
}
.dropdown > .list {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15), 0 2px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15), 0 2px 5px 0 rgba(0,0,0,0.2);
  margin: 0 !important;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;
  -webkit-transition: visibility 0s linear 0.2s, opacity 0.3s;
  -moz-transition: visibility 0s linear 0.2s, opacity 0.3s;
  -o-transition: visibility 0s linear 0.2s, opacity 0.3s;
  -ms-transition: visibility 0s linear 0.2s, opacity 0.3s;
  transition: visibility 0s linear 0.2s, opacity 0.3s;
}
.dropdown:hover,
.dropdown .open {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15), 0 2px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15), 0 2px 5px 0 rgba(0,0,0,0.2);
}
.dropdown:hover > .list,
.dropdown .open > .list {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  border-left: none;
  border-right: none;
}
.dropdown::after {
  display: inline-block;
  content: "▼";
  font-size: 0.7em;
  vertical-align: middle;
  margin-left: 0.3rem;
  border-left: 1px solid;
  padding-left: 0.3rem;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2em;
}
.icon:last-child {
  margin-right: 0;
}
.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 2px;
  z-index: 2;
  pointer-events: none;
  background: #fff;
  border-radius: 0 1px 1px 0;
  boxShadow: 1px 1px 1px rgba(0,0,0,0.4);
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  -ms-transition: width 0.4s;
  transition: width 0.4s;
}
.loading-bar .progress {
  height: 2px;
  background: #2580a2;
  width: 1%;
}
.nav-col {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  overflow: auto;
}
.main-col {
  margin-left: 210px;
}
